@import 'variables', 'Rhyme';

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    .level-container {
        height: 100%;
        width: 100%; //Replaced with background video
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .rap-line {
            height: 80px;
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.75);
            border-style: solid;
            border: 5px double white;
            color: white;
            padding: 10px;
            font-size: 1.5rem;
            //Set pixel font
        }
        img {
            height: 40%;
            margin: 5% 0;
            transform: scaleX(-1);
        }
        .timer-container {
            width: 80%;
            height: 20px;
            background-color: rgba(0, 0, 0, 0.75);
            border: 2px solid white;
            padding: 2px;
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            margin-bottom: 1%;
            .timer-bar {
                height: 100%;
                background-color: rgb(194, 194, 34);
                transition: width 1s linear;
            }
        }
        form {
            height: 80px;
            width: 80%;
            input {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: rgba(0, 0, 0, 0.75);
                border-style: solid;
                border: 5px double white;
                color: white;
                padding: 10px;
                font-size: 1.5rem;
                //Set pixel font
            }
            input:focus {
                outline: none;
            }
        }
    }
    .story-container {
        width: 100%;
        height: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .story-text-box {
            width: 60%;
            height: 60%;
            border: 5px double white;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .story-text {
                padding-top: 10rem;
            }
            .continue-text {
                padding-bottom: 3rem;
            }
        }
    }
}